/*---------- GENERAL STYLES ---------*/

html {
	font-size: 16px;
	vertical-align: top;
	box-sizing: border-box;
	font-family: "Helvetica", sans-serif;

}/*html*/

body {
	background: #5cf0d6;

}/*body*/

.button {
	background: none;
	border: 2px solid #dfdfdf;
	color: #dfdfdf;
	padding: 20px 0;
	
}/*button*/