/*---------- GENERAL STYLES ---------*/

html {
	font-size: 16px;
	vertical-align: top;
	box-sizing: border-box;
	font-family: "Helvetica", sans-serif;

	@-moz-keyframes spin { 100% { -moz-transform: rotate(90deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(45deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(45deg); transform:rotate(45deg); } }

}/*html*/

body {
	background: #5cf0d6;

}/*body*/

.button {
	background: none;
	border: 2px solid #dfdfdf;
	color: #dfdfdf;
	padding: 20px 0;
	
}/*button*/