/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*---------- CSS RESET ----------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 8, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 29, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 36, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 39, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 42, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*---------- GENERAL STYLES ---------*/
/* line 3, ../sass/_general.scss */
html {
  font-size: 16px;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(90deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
/*html*/
/* line 15, ../sass/_general.scss */
body {
  background: #5cf0d6;
}

/*body*/
/* line 20, ../sass/_general.scss */
.button {
  background: none;
  border: 2px solid #dfdfdf;
  color: #dfdfdf;
  padding: 20px 0;
}

/*button*/
/*---------- CONTAINER STYLES ----------*/
/* line 3, ../sass/_container.scss */
.container {
  background: white;
  border-radius: 10px;
  width: 50%;
  height: 600px;
  margin: 20px auto;
  padding: 75px 0 0;
  /*title*/
  /*add*/
  /*plus*/
  /*login*/
  /*forgot*/
}
/* line 11, ../sass/_container.scss */
.container .title {
  padding: 0 0 0 10%;
  border-left: 6px solid #ed2553;
  width: 40%;
  float: left;
}
/* line 19, ../sass/_container.scss */
.container .add {
  background: #ed2553;
  color: white;
  font-size: 4rem;
  border-radius: 100%;
  width: 200px;
  height: 205px;
  text-align: center;
  float: right;
  position: relative;
  left: 20%;
  top: -10px;
}
/* line 34, ../sass/_container.scss */
.container .plus {
  position: absolute;
  left: 40%;
  top: 65px;
}
/* line 40, ../sass/_container.scss */
.container .login {
  float: none;
  margin: 200px auto 0;
  width: 80%;
  /*input*/
  /*button*/
}
/* line 45, ../sass/_container.scss */
.container .login input {
  display: block;
  border: none;
  border-bottom: 2px solid #dfdfdf;
  width: 100%;
  font-size: 2rem;
  margin: 50px 0 0;
}
/* line 55, ../sass/_container.scss */
.container .login .button {
  border: 2px solid #dfdfdf;
  width: 75%;
  margin: 50px auto;
}
/* line 63, ../sass/_container.scss */
.container .forgot {
  color: #dfdfdf;
  text-align: center;
  font-size: 2rem;
}

/*container*/
/* line 1, ../sass/_text.scss */
h1 {
  color: #ed2553;
  text-transform: uppercase;
  font-size: 3rem;
}

/*h1*/
